<section id="section1" class="panel">
    <div class="bio-info">
        <h2 class="p-name">Three Favourite Things</h2>
        <p class="introText">Hi my name is Harwinder Dahele. <br> Here You will find My Favourite Things:
        <br>
        </p>
    </div>
</section>
<section id="section3" class="panel">
    <h1 class="user-panel-heading">
        My Favorite Things
    </h1>
    <div class="team">
        {{#each people}}
        <div class="user-panel">
            <img src="images/{{avatar}}" alt="avatar" class="u-avatar">            
            <a href="{{ID}}" class="u-link">
                See More Info
            </a>
            <h1>{{Name}}</h1>
            <h3>{{Category}}</h3>
        </div>
        {{/each}}       
    </div>
    </div>
    <section class="lightbox">
        <span class="close">x</span>
        <div class="sidebar">
            <img src="" alt="larger bio image">
        </div>
        <div class="lb-content">
        </div>
    </section>
</section>
